/*
 *  @Project:		Battle Brothers
 *	@Company:		Overhype Studios
 *
 *	@Copyright:		(c) Overhype Studios | 2015
 * 
 *  @Author:		Overhype Studios
 *  @Date:			02.06.2015
 *  @Description:	Event Screen CSS
 */

.world-event-screen
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
    
	overflow: hidden;
}

.world-event-screen > .l-dialog-container
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*width: 102.4rem;
    height: 76.8rem;*/
    width: 80.0rem;
    height: 72.0rem;
    position: absolute;
    margin: auto;
    z-index: 2;
}

.world-event-screen > .l-dialog-container .content .l-list-container
{
    /*top: 1.0rem;
    left: 1.0rem;
    right: 1.0rem;
    bottom: 1.0rem;*/

	top: 5.0rem;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0.0rem;

    position: absolute;
}

.world-event-screen > .l-dialog-container .content .scroll-container
{
    /*padding-left: 1.0rem;
    padding-right: 1.0rem;*/
}

.world-event-screen > .l-dialog-container .footer .l-button-container
{
    top: 1.0rem;
    left: 1.0rem;
    right: 1.0rem;
    bottom: 1.0rem;
    position: absolute;
    margin: auto;
}

.world-event-screen > .l-dialog-container .footer .l-button-container .ui-control.button > .label
{
    text-overflow: ellipsis;
    white-space: nowrap;
}

.world-event-content
{
    position: absolute;

	margin-top: 0.0rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-bottom: 4.0rem;
    
    width: 72.0rem;
    /*float: left;*/
}

.world-event-character-left
{   
    width: 10.4rem;
	height: 14.2rem;
	
	position: absolute;
    left: 1.0rem;
    bottom: 59.5rem;
    z-index: 10;
}

.world-event-character-right
{   
    width: 10.4rem;
	height: 14.2rem;

	position: absolute;
    right: 1.0rem;
    bottom: 59.5rem;
    z-index: 10;
}

.world-event-overlay-middle
{   
    position: absolute;
    left: 34.0rem;
    bottom: 61.5rem;
    z-index: 10;
}

.world-event-character-right img
{   
    -webkit-transform: scaleX(-1);
}


/* rows */
.world-event-content .row
{
    /*background-color: #B58B15;*/
    width: 100%;
    
    margin-bottom: 3.0rem;
    /*float: left;*/
    clear: left;
    /*position: relative;
    
    text-align: center;*/
}

.world-event-content .list-container
{  
   /*background-color: #FF0000;*/
   /*margin-top: 3.0rem;*/
   
   width: auto;
   
   margin-top: 0.0rem;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0.0rem;
   
   position: relative;
   display: table;
}

.world-event-content .list-container-fixed
{    
   width: 70%;
   
   margin-top: 0.0rem;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0.0rem;
   
   position: relative;
   display: table;
}

.world-event-content .list
{
    /*background-color: #AFD635;*/
    
   /* position: relative;*/
    
    width: auto;
    /*display: table;*/
    
    /*margin-top: 0.0rem;*/
    margin-left: 0.0rem;
    margin-right: 0.0rem;
    margin-bottom: 0.0rem;
    
    /*margin-top: 3.0rem;
    margin-bottom: 0.0rem;*/
    
    /*margin-bottom: 0.0rem;
    margin-left: 30%;*/
}

.world-event-content .list-container:first-child
{
    margin-top: 3.0rem;
}

.world-event-content .row:last-child
{
    margin-bottom: 0;
}


/* description */
.world-event-content .row img
{   
    margin-left: auto;
    margin-right: auto;
    float: left;
    clear: left;
}


/* description */
.world-event-content .row .description
{
   /* float: left;
    clear: left;*/

    text-align: left;
}

.world-event-content .row .description img
{
    margin-right: 1.0rem;
    margin-bottom: 1.0rem;
}


/* list */
.world-event-content .row .title
{
    margin-bottom: 0.4rem;
    float: left;
    clear: left;

    text-align: left;
}

.world-event-content .row.list img
{
    width: 3.0rem;
    margin-right: 1.0rem;
    float: left;
}

.world-event-content .row.list .text
{
    float: none;
    line-height: 2.6rem;
    text-align: left;

    overflow: hidden;
}

.world-event-buttons
{
    width: 100%;
    float: left;
}


/* rows */
.world-event-buttons .row
{
    width: 100%;
    height: 4.3rem;
    position: relative;
    float: left;
    clear: left;
    margin-bottom: -0.4rem;
}

.world-event-buttons .row.has-big-buttons
{
    width: 100%;
    height: 7.1rem;
    position: relative;
    float: left;
    clear: left;
    margin-bottom: -0.4rem;
}


/* buttons */
.world-event-buttons .row .l-button
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4.3rem;
    position: absolute;
    margin: auto;
}

.world-event-buttons .row.has-big-buttons .l-button
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 7.1rem;
    position: absolute;
    margin: auto;
}